.text-area {
    -fx-font-family: 'Consolas', Arial, sans-serif;
    -fx-font-size: 30;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-control-inner-background: black;
    -fx-highlight-fill: black;
    -fx-highlight-text-fill: black;
    -fx-text-fill: white;
    -fx-focus-color: black;
    -fx-faint-focus-color: black;
}
.text-area .content {
    -fx-background-radius: 0 ;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.label {
    -fx-font-family: 'Consolas', Arial, sans-serif;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-control-inner-background: black;
}


.label *.text {
    -fx-text-alignment: center;
}

HBox, VBox {
    -fx-background-color: black;
}

You need to add a stylesheet and do this:

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}

.progress-bar .track {
    -fx-background-color: black;

}

.list-view .list-cell {
    -fx-background-color:black;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

.list-view .list-cell:hover{
    -fx-background-color:red;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

.button {
    -fx-background-color:transparent;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 0 0 0;
}

.button:hover {
    -fx-background-radius:0;
    -fx-border-color:black;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0;
}

AnchorPane {
    -fx-background-color:black;
}

.progress-bar .bar {
    -fx-background-color: grey;
        /* -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        red;  this line is the background color of the bar */
}